@import url("../../App.css");

.age-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: brightness(85%) saturate(60%) blur(2px); 
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .age-modal {
    background-color: var(--background-color);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0 10px var(--shadow-color);
    text-align: center;
    max-width: 400px;
    width: 90%;
    font-family: var(--base-font);
    animation: fadeIn 0.4s ease-out;
  }
  
  .age-modal h2 {
    font-family: var(--decorative-font);
    font-size: var(--big-text-size);
    margin-bottom: 1rem;
    color: var(--font-color);
  }
  
  .age-modal p {
    font-size: var(--small-text-size);
    color: darkgrey;
    margin-bottom: 2rem;
  }
  
  .age-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .age-buttons button {
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    border: 2px solid var(--border-color);
    background-color: transparent;
    color: var(--font-color);
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .age-buttons button:hover {
    background-color: var(--border-color);
    color: white;
  }

  
  @keyframes fadeIn {
    from {
      transform: scale(0.9);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
 